# Приложение
APP_NAME="shinka.kz"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

# База данных
DB_DATABASE=tire_services
DB_USERNAME=root
MYSQL_ROOT_PASSWORD=root_password

# Порты
APP_PORT=80
DB_PORT=3306
PHPMYADMIN_PORT=8080

# Имена контейнеров
APP_CONTAINER_NAME=tire_services_app
MYSQL_CONTAINER_NAME=tire_services_mysql
PHPMYADMIN_CONTAINER_NAME=tire_services_phpmyadmin 